a {
	font-size:20px;
}

.abody{
	font-size:15px;
	color:#000000;
	font-weight: bold;
}

body
{
	background: #ffffff;
	margin: 0;
	padding: 5px;
	line-height: 1.4em;
	font-family: tahoma, arial, sans-serif;
	font-size: 62.5%;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	no-repeat 95% 50%;
}

span{
	display:table inline-block;
	vertical-align: middle;
	width:110px;
}

.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
	font-size:12px;
	height: 30px;
	border: 1px solid #bcbcbc;
	text-align:center;
}

.button {
    background-color: #ffffff;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: left;
	color:black;
    display: inline-block;
    font-size: 16px;
} 
